.page-header-container {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: var(--std-left-padding);
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 60px;
}

.header-text {
    font-weight: 500;
    font-size: 25px;
}

.header-arrow {
    rotate: 90deg;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    
}