.portfolio-wrapper {
    background: url("../../static/backer_portfolio.svg");
    min-height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.portfolio-content-container {
    background-color: rgba(255,255,255, 0.8);
    backdrop-filter: blur(3px);
    min-height: 100vh;
    max-width: 80vw;
    margin: auto;
}

.portfolio-intro-content {
    padding-top: 20vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.portfolio-slide-content {
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.portfolio-intro-content p {
    font-size: 12px;
    text-align: justify;
    color: black;
}

.portfolio-intro-text {
    max-width: 40vw;
}

.caro-paging-dots {
  display: none;
}

.caro-button-container {
    background-color: rgba(0,0,0,0);
    border: none
}

.prev-arrow {
  transform: rotate(90deg);
  max-height: 20px;
}

.next-arrow {
  transform: rotate(270deg);
  max-height: 20px;

}

.slide-summary {
    font-size: 11px;
    text-align: justify;
    line-height: 14px;
    letter-spacing: 1px;
    max-width: 400px;
}